.menu {
  position: fixed;
  // visibility: hidden;
  // opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: all 0.4s ease-out;
  background: rgba(24, 39, 51, 0.85);

  &__list-item {
    padding: 10px;
    margin-bottom: 10px;

    a {
      text-decoration: none;
      color: white;
      transition: color 0.3s;
    }

    &:hover {
      a {
        color: grey;
      }
    }
  }
}

.menu-btn {
  cursor: pointer;
  z-index: 1;
  width: 28px;

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background-color: white;
    transition: all 0.3s;
    transform-origin: center right;
    
    &:last-child{
      margin-bottom: 0;
    }
  }

  &:hover {
    .btn-line {
      background-color: grey;
    }
  }

  &.open {
    .btn-line {
      background-color: darkgray;

      &:nth-child(2) {
        opacity: 0;
        width: 23px;
      }
      &:nth-child(1) {
        transform: rotate(-45deg);
        width: 23px;
      }
      &:nth-child(3) {
        transform: rotate(45deg);
        width: 23px;
      }
    }
  }
}

@media (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}