.gallery-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  grid-gap: 10px;
  max-width: 860px;
  width: 100%;
  margin: 0 auto;

  img{
    max-height: 180px;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }
  }
}
