.gallery-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  max-width: 860px;
  width: 100%;
  margin: 0 auto;

  .img-wrapper {
    
    img{
      width: 100%;
    }
  }
}
